.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: var(--darker-background);
  padding: 10px;
}

.navbar h1 {
  margin: 0;
  font-size: 1.5em;
}

.profile-section {
  display: flex;
  align-items: center;
}

.fa-user-circle {
  color: white;
  margin-left: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.logout-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.logo {
  display: flex;
  align-items: center;
}

.navbar-logo {
  max-height: 40px;
  margin-right: 10px;
}
