.login-page {
  text-align: center;
  padding: 20px;
}

.login-title {
  color: #ffffff; /* Adjust the color as per your theme */
  margin-bottom: 20px; /* Spacing between title and form */
  font-size: 2em; /* Adjust the size as needed */
}

.login-logo {
  max-width: 170px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 20px;
}
